<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OOP_Assignment.Properties.Settings.DataStoragePersonsConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DataStoragePersons;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>